body{
    font-family: 'Open Sans', sans-serif;
	color: #505050;
    padding-top: 70px;
    background: #CCC;
	background: url('../images/site_background.svg') no-repeat;
	background-position-y: top;
	background-position-x: center;
}

/** HEADER START**/
#header-nav {
    background-color: #FFF;
    border-radius:0;
    border:0;
}

#header-nav {
    box-shadow: 2px 2px 6px #BBB;
}

.navbar-brand  h1 {
    display: inline;
    font-family: 'Lobster', cursive;
    font-size: 1.2em;
    margin-top: 0;
    margin-left: 10px;
}

.navbar-brand img {
    height: 25px;
    margin-top: -5px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
    text-align: center;
}

#nav-list a {
	border-bottom 2px solid white;
}

#nav-list .active {
    box-shadow: inset 0px -3px #1976D2;
    color: white;
    background: #1976D2;
}

#nav-list a:hover {
    /*background: #EEE;*/
    box-shadow: inset 0px -4px #1976D2;
}

#nav-list a span {
    font-size: 1em;
    color: #1976D2;
    font-weight: bold;
    text-transform: uppercase;
}
/**HEADER END**/


/*About section start*/


#about img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto; 
    border-radius: 50%; 
	border: 1px solid #C8EBED;
	box-shadow: 1px 1px 2px 0px #9FD6E3;
}

#about header, #interest header, #contact header{
	font-family: 'Lobster', cursive;
	color: #1976D2;
}

#intro {
    background: #FFF;
    padding: 10px 30px 20px 30px;
    margin: 20px auto;
	border-top: 1px solid #C8EBED;
	border-left: 1px solid #C8EBED;
	border-right: 1px solid #C8EBED;
    border-bottom: 5px solid #1976D2;
	box-shadow: 1px 1px 2px 1px #9AD1DC;
	border-radius: 20px 20px 0px 0px;
}

.section-header {
    margin-bottom: 20px;
}

/*About section end*/

/*Interest section start */
#interest {
    background: #EEE;
    padding-bottom: 30px;
}

.hobby img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 3px solid #1976D2;  
    
}

.hobby {
    padding: 5px;
    margin-bottom: 10px;
    background: #FFF;
	border-top: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	border-bottom: 3px solid #1976D2;
	box-shadow: 1px 1px 5px #BBB;
    border-radius: 5px;
}

.hobby p{
    text-align: center;
    padding-top: 10px;
	font-size: 1.2em;
}
/*Interest section end*/

/*Contact section start*/
#contact {
	background-color: #C8EBED;
}


#social img {
	width: 50px;
	margin: 0px 5px 5px 5px;
	border-radius: 50%;
	box-shadow: 1px 1px 2px #9AD1DC;
}

#social {
	padding-bottom: 50px;
}

#social a{
	text-decoration: none;
}

#social a:hover img{
	box-shadow: 0px 0px 0px 2px #FFF;
}
/*Contact section end*/

/*Footer*/
#footer {
	background-color: #C8EBED;
	padding-bottom: 10px;
}
